
<div class="chart-container">
  <h2> Comparison by State </h2>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Measure Id</mat-label>
    <mat-select [(ngModel)]="measureId">
      <mat-option *ngFor="let measureId of measureIdList" [value]="measureId">{{ measureId }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>State 1</mat-label>
    <mat-select [(ngModel)]="state1">
      <mat-option *ngFor="let state of stateList" [value]="state">{{ state }}</mat-option>
    </mat-select>
  </mat-form-field>

  
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>State 2</mat-label>
    <mat-select [(ngModel)]="state2">
      <mat-option *ngFor="let state of stateList" [value]="state">{{ state }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="search-btn" (click)="searchStates()">Search</button>
</div>

<div style="width: 300px; margin: 5px auto;" *ngIf="statesPieChartData"> 
  <canvas baseChart
    [data]="statesPieChartData"
    [type]="statesPieChartType">
  </canvas>
</div>

<div>

  <h2> Comparison by Zip Code </h2>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Measure Id</mat-label>
    <mat-select [(ngModel)]="measureId">
      <mat-option *ngFor="let measureId of measureIdList" [value]="measureId">{{ measureId }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Zip Code</mat-label>
    <mat-select [(ngModel)]="zipCode1">
      <mat-option *ngFor="let zipCode of zipCodeList" [value]="zipCode">{{ zipCode }}</mat-option>
    </mat-select>
  </mat-form-field>
   <mat-form-field appearance="outline" class="search-field">
    <mat-label>Zip Code</mat-label>
    <mat-select [(ngModel)]="zipCode2">
      <mat-option *ngFor="let zipCode of zipCodeList" [value]="zipCode">{{ zipCode }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" class="search-btn" (click)="searchZipCodes()">Search</button>
</div>

<div style="width: 300px; margin: 5px auto;" *ngIf="zipCodePieChartData"> 
  <canvas baseChart
    [data]="zipCodePieChartData"
    [type]="zipCodePieChartType">
  </canvas>
</div>

